---
import { Image } from 'astro:assets';

export interface Props {
  title: string;
  description: string;
  url: string;
  image: { url: string; alt: string; };
  optimizedImage?: any;
}

const { title, description, url, image, optimizedImage } = Astro.props;
---

<li class="workitem-container workitem-container--project">
  <a class="workitem workitem--project" href={url}>
    <div class="workitem-inner">
      <div class="workitem-text">
        <h3 class="workitem-title workitem-title--project">{title}</h3>

        <div class="workitem-image-wrap">
          {optimizedImage && (
            <Image
              src={optimizedImage}
              alt={image.alt}
              width={500}
              format="webp"
              loading="lazy"
              class="workitem-img"
              quality={80}
            />
          )}
        </div>

        <p class="overview-text-small">{description}</p>
        <span class="workitem-cta">View</span>
      </div>
    </div>
  </a>
</li>
